name: Build and release

on:
  push:
    branches:
      - main
  release:
    types:
      - created

jobs:
  build-release:
    permissions:
      id-token: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@main
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22
      - name: Set package.json version,
        uses: decentraland/oddish-action@master
        with:
          deterministic-snapshot: true
          only-update-versions: true
      - name: Install
        run: npm ci
      - name: Build
        run: npm run build
        env:
          NODE_PATH: 'src'
      - name: Publish
        uses: decentraland/oddish-action@master
        with:
          cwd: './dist'
          deterministic-snapshot: true
          registry-url: 'https://registry.npmjs.org'
          access: public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
